name: Test

on: [push, pull_request]

jobs:
  abi3-wheel:
    name: Build ABI3 wheel
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7']
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        name: Setup Rust build cache
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/debug/
            target/release/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: Install Python build dependencies
        run: python -m pip install maturin hypothesis packaging pytest torch
      - name: Build Python abi3 wheel using Python ${{ matrix.python-version }}
        run: |
          (
            cd thinc-rust-ops
            maturin build --release -i ${{ env.pythonLocation}}/python
          )
        if: runner.os != 'Windows'
      - name: Build Python abi3 wheel using Python ${{ matrix.python-version }} (Windows)
        run: cmd /c "cd thinc-rust-ops && maturin build --release -i ${{ env.pythonLocation }}\python.exe"
        if: runner.os == 'Windows'
      - name: Local tests
        shell: bash
        run: |
          (
            pip install target/wheels/rust_ops*.whl
            cd thinc-rust-ops
            pytest
          )
      - name: Upload wheel
        uses: actions/upload-artifact@v2
        with:
          name: wheel ${{ matrix.python-version }} ${{ matrix.os }}
          path: target/wheels/rust_ops*.whl
          retention-days: 1

  test:
    name: Test wheel
    needs: abi3-wheel
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Download wheel
        uses: actions/download-artifact@v2
        with:
          name: wheel 3.7 ${{ matrix.os }}
      - name: Install pytest
        run: python -m pip install hypothesis packaging pytest torch
      - name: Install rust_ops wheel
        shell: bash
        run: pip install rust_ops*.whl
      - name: Run tests
        run: |
          pytest
